.video {
  position: relative;
  display: inline-block;
  width: calc(50vw - (25px + (25px / 2)));
  margin: 50px auto;
  text-align: center;
}

.video#videoLeft {
  float: left;
  margin-left: 25px;
}

.video#videoRight {
  float: right;
  margin-right: 25px;
}

