.video {
  position: relative;
  display: inline-block;
  max-width: 45vw;
  margin: 50px auto;
}

.videoLeft {
  float: left;
  margin-left: 4vw;
}

.videoRight {
  float: right;
  margin-right: 4vw;
}

video {
  max-width:100%;
}