.sceneContainer{
  background-color: grey;
  height: 100vh;
}

.controlsWrapper {
  position: absolute;
  left: 6vw;
  top: 0.3rem;
  margin: 0.2rem auto;
  text-align: center;
}

.goToMarkerControl {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  padding: 0px 18px;
}

.togglePlayPause {
  position: relative;
  margin-right: 25px;
  margin-left: 0px;
  width:2rem;
  border-radius: 2rem;
  background-color: #385080;
}

.paneTextContent {
  margin-bottom: 30px;
}

.headerCustom {/*usefull to have fixed header to calculate raycast instersection with click*/
  position: fixed;
  width: 100%;
}

.slidePane {
  background-color: papayawhip;
}

.waitingGrey {
  background-color: grey;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
