.container {
  background-color: black;
  height: 100vh;
  position: sticky;
  overflow: hidden;
}

.videoWrapper {
  /*height depends on header height in order to fit well*/
  position:relative;
  display: flex;
  justify-content: center;
  height: calc(100vh - 2.8rem);
}

.video::cue {
  /*for subtitles*/
  background-color: #0000007a;
}

.controlsWrapper {
  position: absolute;
  left: 6vw;
  top: 0.4rem;
  margin: 0.2rem auto;
}

.goToChapterControl {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  min-width: 5.1em;
}

@media only screen and (max-width: 2000px) {
  .goToChapterControl {
    margin-right: 15px;
    margin-left: 15px; 
  }
}

@media only screen and (max-width: 1500px) {
  .goToChapterControl {
    min-width: 0em;
  }
}

.togglePlayPause {
  position: relative;
  margin-right: 25px;
  margin-left: 0px;
  width:2rem;
  border-radius: 2rem;
  background-color: #385080;
}


.onScreenPlayPause {
  background-image: url(../images//playButton.svg);
  position: absolute;
  align-self: center;
  padding: 2rem;
}

.langSwitchWrapper {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 2rem;
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
  background-color: #ffffff60;
}

.langSwitchWrapper span{
bottom: 0.35rem;
position: relative;
;}