.link {
  margin: 25px;
  z-index: 3;
}
@import "../styles/typography.css";

.pub {
  font-family: "Hello";
  font-size: 3vw;
  transform: rotate(45deg);
  text-align: center;
  color: black;
  position: absolute;
  right: 0.5em;
  top: 2em;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  z-index: 3;
}



.pictlink {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.container {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    ". b ."
    "c . d";
  z-index: 3;
  height: 100vh;
  object-fit: cover;
}

.pasApas{
  grid-area: b;
  align-self: center;
  /* max-width: 55vw; */
  height: 50vw;
  max-height: 50vh;
  text-align: center;
}

.film {
  grid-area: c;
  align-self: center;
  text-align: center;
  height: 20vw;
  max-height: 30vh;
}

.explorer {
  grid-area: d;
  align-self: center;
  text-align: center;
  height: 20vw;
  max-height: 30vh;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 4vw;
  z-index: 3;
  margin: 10px;
}



.background {
  background-size: cover;
  background-image: url("../images//background.jpg");
  filter: saturate(0.1) brightness(1.2);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: 1;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  background-image: radial-gradient(rgb(150, 150, 150) 33%, transparent 33%);
  background-size: 2px 2px;
  z-index: 2;
}