.shapeLink { 
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: block;
}

.shapeLink#aboutShape {
  -webkit-clip-path: polygon(0 0, 0 100%, 50% 100%);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  background: #bb1b1b0a;
}

.shapeLink#homeShape {
  -webkit-clip-path: polygon(0 0, 0 100%, 50% 100%);
  clip-path: polygon(0 0, 0 100%, 50% 100%);
  background: #2121210a;
}

.shapeLink#contactShape {
  -webkit-clip-path: polygon(0 0, 0 100%, 50% 100%);
  clip-path: polygon(100% 0, 100% 100%, 50% 100%);
  background: #fcff380a;
}

.retrocentered {
  position: relative;
  right: -50%;/*if left then an overflow to the right side of the screen appears*/
}

.contentLink {
  position: absolute;
  color: rgb(87, 87, 87);
  font-size: large;
  max-width: inherit;
}

.contentLink#aboutContent {
  top : 5vh;
  right : 50vw;
  max-width: 45vw;
}

.contentLink#homeContent {
  bottom : 5vh;
  right : 85vw;
  max-width: 25vw;
}

.contentLink#contactContent {
  bottom : 5vh;
  right : 15vw;
  max-width: 25vw;
}

img {
  max-width:100%;
}

.container {
  background-image: url("../images//grape.svg");
  background-repeat: repeat;
  background-size: 20%;
  height: 100vh;
}